<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <footer class="page-footer font-small blue-grey lighten-5">
        <div style="background-color: #7DC2F7;">
          <div class="container">
            <div class="row py-4 d-flex align-items-center">
              <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                <h6 class="mb-0">Nos acompanhe nas redes sociais</h6>
              </div>
      
              <div class="col-md-6 col-lg-7 text-center text-md-right">
      
                <a class="fb-ic">
                  <i class="fa fa-facebook-f white-text mr-4"> </i>
                </a>
      
                <a class="tw-ic">
                  <i class="fa fa-twitter white-text mr-4"> </i>
                </a>
      
                <a class="gplus-ic">
                  <i class="fa fa-google-plus-g white-text mr-4"> </i>
                </a>
       
                <a class="li-ic">
                  <i class="fa fa-linkedin-in white-text mr-4"> </i>
                </a>
      
                <a class="ins-ic">
                  <i class="fa fa-instagram white-text"> </i>
                </a>
      
              </div>
      
            </div>
      
      
          </div>
        </div>
      
        <div class="container text-center text-md-left mt-5">
      
          <div class="row mt-3 dark-grey-text">
      
            <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
      
      
              <h6 class="text-uppercase font-weight-bold">Ensino Criativo</h6>
              <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <p>Uma plataforma digital para fortalecer seus conhecimentos, a um click de distância. Compromisso 
                máximo com o seu desenvolvimento escolar. Educação de qualidade para todos.
              </p>
      
            </div>
      
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
      
              <h6 class="text-uppercase font-weight-bold">Conheça também</h6>
              <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <p>
                <a class="dark-grey-text" href="https://www.gov.br/inep/pt-br">INEP</a>
              </p>
              <p>
                <a class="dark-grey-text" href="http://pne.mec.gov.br/">PNE</a>
              </p>
              <p>
                <a class="dark-grey-text" href="https://www.gov.br/mec/pt-br">Ministério da Educação</a>
              </p>
              <p>
                <a class="dark-grey-text" href="https://todospelaeducacao.org.br/">Todos Pela Educação</a>
              </p>
      
            </div>
      
      
      
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
      
      
              <h6 class="text-uppercase font-weight-bold">Parceiros</h6>
              <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <p>
                <a class="dark-grey-text" href="#">Instituto Cacau Gool</a>
              </p>
              <p>
                <a class="dark-grey-text" href="#">Instituto Ayrton Pena</a>
              </p>
              <p>
                <a class="dark-grey-text" href="#">Casa Roberto Virginho</a>
              </p>
              <p>
                <a class="dark-grey-text" href="#">Italol Cultural</a>
              </p>
      
            </div>
      
      
      
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
      
      
              <h6 class="text-uppercase font-weight-bold">Contato</h6>
              <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <p>
                <i class="fa fa-home mr-3"></i> Av. Paulista, 1500 - São Paulo</p>
              <p>
                <i class="fa fa-envelope mr-3"></i> contato@ensinocriativo.com.br</p>
              <p>
                <i class="fa fa-phone mr-3"></i> (11) 98500-1000</p>
              <p>
                <i class="fa fa-print mr-3"></i> (11) 4688-0000</p>
      
            </div>
      
      
          </div>
      
      
        </div>
      
      
        <div class="footer-copyright text-center text-black-50 py-3">© 2020 Copyright:
          <a class="dark-grey-text" href="https://mdbootstrap.com/"> ensinocriativo.com</a>
        </div>
      
      
    </footer>
    
</body>
</html>
